<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Sistema de Produtos {% endblock %}</title>
</head>
<body>
    
    <header>
        <h1> Sistema de Produtos </h1>
        
        <nav>
            <a href="{% url 'listar_produtos' %}">Produtos</a>
            <a href="{% url 'cadastrar_produto' %}">Cadastrar Produto</a>
        </nav>

        <hr>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>