{% extends 'base.html' %}

{% block tittle %}Detalhe do Produto{% endblock %}

{% block content %}
    <h1>Detalhes do Produto</h1>

    <p><strong>Nome:</strong> {{ produto.nome }}</p>
    <p><strong>Preço:</strong> R$ {{ produto.preco }}</p>
    <p><strong>Quantidade:</strong> {{ produto.quantidade }}</p>
    <p><strong>Descrição:</strong> {{ produto.descricao }}</p>
    <p><strong>Data de Criação:</strong> {{ produto.criado_em }}</p>

    <a href="{% url 'listar_produtos' %}">Voltar para a lista de produtos</a>

{% endblock %}