{% extends 'base.html' %}

{% block title %}Lista de Produtos{% endblock %}

{% block content%}
    <h1>Produtos Cadastrados</h1>

    <a href="{% url 'cadastrar_produto' %}">Cadastrar Produto</a>

    <hr>

    {% if produtos %}
        <ul>
            {% for produto in produtos %}
                <li>
                    <strong>{{ produto.nome }}</strong> - R$ {{ produto.preco }} - Estoque: {{ produto.quantidade }}
                    <a href="{% url 'detalhes_produto' produto.pk %}">Ver detalhes</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nenhum produto cadastrado.</p>
    {% endif %}
{% endblock %}